// 格式化豪秒数
function formatSeconds(seconds) {
    // 防止老6传字符串
    seconds = parseInt(seconds / 1000)
    // 1.获取分钟、秒数
    var second = Math.floor(seconds % 60)
    var minute = Math.floor(seconds / 60)

    // 2.补0
    if(second < 10){
        second = '0' + second
    }
    if(minute < 10 ){
        minute = '0' + minute
    }

    // 3.对称补0法
    // var time = time + ''
    // return ('00' + time).slice(time.length)
    return minute+":"+second
}

function formatCount(count){
    var numCount  = parseInt(count)
    if(count >= 100000000 ){
        // 返回的字符串，保留一位小数
        return (numCount / 100000000).toFixed(1) + '亿'
    }else if(count >= 1000){
        return (numCount / 10000).toFixed(1) + "万"
    }else{
        return numCount
    }
}

function  zeroPadding(count){
  var count = parseInt(count)
  if(0< count && count < 10){
    return '0'+count
  }
  return ''+count
}

module.exports = {
    formatSeconds: formatSeconds,
    formatCount:formatCount,
    zeroPadding:zeroPadding
}